html
    body
        link(href='/css/styles.css' rel='stylesheet')
        div.container
            h1 Course Management System
            span(style="color: red") #{message}
            div.box
                h3 Login
                form(action="/login" method="POST")
                    table
                        tr
                            td
                                span Username:
                            td 
                                input(type="text" name="username")
                        tr
                            td
                                span Password:
                            td
                                input(type="password", name="password")
                        tr
                            td(colspan=2)
                                input(type="submit", value="Login")
            div.box
                h3 Sign Up
                form(action="/signup" method="POST")
                    table
                        tr
                            td
                                span Name: 
                            td
                                input(type="text" name="name")
                        tr
                            td
                                span Username: 
                            td
                                input(type="text" name="username")
                        tr
                            td
                                span Password:
                            td
                                input(type="password", name="password")
                        tr
                            td
                                span Role
                            td
                                select(name="isAdmin")
                                    option(value="False" selected) Student
                                    option(value="True") Admin
                        tr 
                            td(colspan=2)
                                input(type="submit", value="Sign Up")